@font-face {
	font-family: "MapoFlowerIsland";
	src: url(./assets/fonts/MapoFlowerIsland.ttf);
}
*{
    font-family: MapoFlowerIsland;
    font-size: 1rem;
}
.font141618{
    font-size: 20px;
}
@media (max-width:991px){
    .font141618{
        font-size: 16px;
    }
}
@media (max-width:768px){
    .font141618{
        font-size: 14px;
    }
}
.tjswnans{
    color: blueviolet;
    font-size: 1.5rem;
}

:root{
    --swiper-theme-color: #ffffff !important;
}
.swiper-pagination-bullet{
    margin: 0 20px !important;
    border: #ffffff 2px solid;
}