
.bg-cu{
    background-color: #041e65;
}
@font-face {
	font-family: "MAPOAGAPE";
	src: url(./assets/fonts/MAPOAGAPE.TTF);
}
@font-face {
	font-family: "MALANGMALANGR";
	src: url(./assets/fonts/MALANGMALANGR.TTF);
}
@font-face {
	font-family: "MALANGMALANGB";
	src: url(./assets/fonts/MALANGMALANGB.TTF);
}
*{
    font-family: MALANGMALANGR;
    font-size: 1rem;
}
.font141618{
    font-size: 20px;
}
.fontfb{
    font-family: MALANGMALANGB;
}
@media (max-width:991px){
    .font141618{
        font-size: 16px;
    }
}
@media (max-width:768px){
    .font141618{
        font-size: 14px;
    }
}

:root{
    --swiper-theme-color: #ffffff !important;
}
.swiper-pagination-bullet{
    margin: 0 20px !important;
    border: #ffffff 2px solid;
}
.kogsSwiper .swiper-pagination-bullet{
    margin: 0 20px !important;
    border: #000000 2px solid;
    --swiper-theme-color: #000000 !important;
}
.swiper{
    height: 40rem;
}
@media (max-width:768px){
    .swiper{
        height: 100%;
    }
}
.kakaoMap_info{
    background-color: rgba(0,0,0,.8);
    z-index: 1000;
    transform: translateX(-100%);
    height: 28rem;
}
@media (max-width:768px){
    .kakaoMap_info{
        transform: translateX(-0%);
        transform: translateY(-5%);
        height: 45rem;
    }
}
.ks5{
    font-size: 2.5rem;
    font-family: MALANGMALANGR;
}
.kakaoMap_info button {
    background-color: transparent;
    outline: none;
}
.navibtn{
    transform: translate(180px, -60px)
}
