
.bg-cu{
    background-color: #041e65;
}
.bordercolor{
    border: #0b297b 7px solid !important;
    border-radius: 30px !important;
}
@font-face {
	font-family: "BareunBatangL";
	src: url(./assets/fonts/BareunBatangB.ttf);
}
@font-face {
	font-family: "BareunBatangM";
	src: url(./assets/fonts/BareunBatangL.ttf);
}
@font-face {
	font-family: "BareunBatangB";
	src: url(./assets/fonts/BareunBatangM.ttf);
}
*{
    font-family: BareunBatangM;
    font-size: 1rem;
}
.abs{
    position: absolute;
}
.rel{
    position: relative;
}
.font141618{
    font-size: 20px;
}
.fontfb{
    font-size: 1.4rem;
    font-family: BareunBatangB;
}
@media (max-width:991px){
    .font141618{
        font-size: 16px;
    }
}
@media (max-width:768px){
    .font141618{
        font-size: 14px;
    }
}
.border-bottom{
    border-color: transparent !important;
}

:root{
    --swiper-theme-color: #ffffff !important;
}
.swiper-pagination-bullet{
    margin: 0 20px !important;
    border: #a1a5a7 8px solid;
}
.swiper-slide {
    width: 100%;
    height: 80vh !important;
  }
.bg {
    width: 100%;
    height: inherit;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    will-change: transform;
  }
.bg.bg1 {
    background-image: url(../public/img/main01.jpg);
}
.bg.bg2 {
    background-image: url(../public/img/main02.jpg);
}
.bg.bg3 {
    background-image: url(../public/img/main03.jpg);
}
.bg.bg4 {
    background-image: url(../public/img/main04.jpg);
}

/* .swiper{
    height: 40rem;
} */
@media (max-width:768px){
    .swiper{
        height: 100%;
    }
}
.kakaoMap_info{
    background-color: rgb(2 19 66 / 83%);
    z-index: 1000;
    transform: translateX(-100%);
    height: 27rem;
}
@media (max-width:768px){
    .kakaoMap_info{
        transform: translateX(-0%);
        transform: translateY(-5%);
        height: 45rem;
    }
}
.ks5{
    font-size: 2.5rem;
    font-family: MALANGMALANGR;
}
.kakaoMap_info button {
    background-color: transparent;
    outline: none;
}
.navibtn{
    transform: translate(180px, -60px)
}
.mainimg{
    padding-top: 48px;
}
.cubgimg1{
    background-image: url(../public/img/cubgimg1.jpg);
    background-size: cover;
    padding: 3rem;
}
.cubgimg2{
    background-image: url(../public/img/cubgimg2.jpg);
    padding: 3rem;
    background-size: cover;
}
.cubgimg3{
    background-image: url(../public/img/cubgimg3.jpg);
    padding: 3rem;
    background-size: cover;
}
	
.video {
    width: 100%;
    max-width: 1300px;
    margin: 30px auto;
    background-color: #f7f6f6;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0px 8px 33px #4c4c4c;
    
  }
   
  .video-container {
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 50%;
  }
   
  iframe {
    z-index: 1;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .gtext1{
    font-size: 18px;
  }
  .gtext2{
    font-size: 18px;
    border: solid 5px #0b297b;
    border-radius: 10px;
    padding: 10px;
  }
  .go{
    margin-left: 20rem;
    margin-right: 20rem;
    background-color: #041e65;
  }
  .gjddnm{
    font-weight: 700;
  }
  .borr{
    border-radius: 250px;
  }
